<?xml version="1.0" encoding="UTF-8"?>
<svg width="74px" height="74px" viewBox="0 0 74 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon nee</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="3" transform="translate(-903.000000, -713.000000)" stroke="currentColor" stroke-width="4">
            <g id="Nee" transform="translate(850.000000, 675.000000)">
                <g id="Icon-nee" transform="translate(55.000000, 40.000000)">
                    <path d="M0.368421053,35.0777778 C0.368421053,54.0686218 15.7635419,69.4637427 34.754386,69.4637427 C53.74523,69.4637427 69.1403509,54.0686218 69.1403509,35.0777778 C69.1403509,16.0869337 53.74523,0.691812865 34.754386,0.691812865 C15.7635419,0.691812865 0.368421053,16.0869337 0.368421053,35.0777778 Z" id="Path"></path>
                    <line x1="47.6491228" y1="22.1830409" x2="21.8596491" y2="47.9725146" id="Path"></line>
                    <line x1="21.8596491" y1="22.1830409" x2="47.6491228" y2="47.9725146" id="Path"></line>
                </g>
            </g>
        </g>
    </g>
</svg>