<?xml version="1.0" encoding="UTF-8"?>
<svg width="106px" height="106px" viewBox="0 0 106 106" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 9</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="2-inactive" transform="translate(-1087.000000, -330.000000)">
            <g id="Group-7" transform="translate(1050.000000, 310.000000)">
                <g id="Group-9" transform="translate(37.000000, 20.000000)">
                    <text id="?" font-family="Helvetica" font-size="60" font-weight="normal" letter-spacing="-1" fill="currentColor">
                        <tspan x="36.8154297" y="76">?</tspan>
                    </text>
                    <rect id="Rectangle-Copy-5" stroke="#D4DAF0" stroke-width="4" x="2" y="2" width="102" height="102" rx="6"></rect>
                </g>
            </g>
        </g>
    </g>
</svg>