<?xml version="1.0" encoding="UTF-8"?>
<svg width="109px" height="103px" viewBox="0 0 109 103" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon Huurder</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="3" transform="translate(-1125.000000, -366.000000)" stroke="currentColor" stroke-width="4">
            <g id="Huurder" transform="translate(1090.000000, 345.000000)">
                <g id="Icon-Huurder" transform="translate(37.000000, 23.000000)">
                    <path d="M35.3,85.5633333 L21.3,85.5633333 C17.4340068,85.5633333 14.3,82.4293266 14.3,78.5633333 L14.3,43.5633333" id="Path"></path>
                    <path d="M0.3,36.5633333 L41.278,1.89 C43.8880596,-0.318850849 47.7119404,-0.318850849 50.322,1.89 L84.2906667,30.632" id="Path"></path>
                    <polyline id="Path" points="70.3 1.56333333 84.3 1.56333333 84.3 15.5633333"></polyline>
                    <g id="icon-key" transform="translate(77.000000, 71.000000) scale(-1, 1) rotate(-270.000000) translate(-77.000000, -71.000000) translate(49.000000, 43.000000)">
                        <path d="M33.5186869,16.3959091 C33.5186869,19.7581517 36.244323,22.4837879 39.6065657,22.4837879 C42.9688083,22.4837879 45.6944444,19.7581517 45.6944444,16.3959091 C45.6944444,13.0336665 42.9688083,10.3080303 39.6065657,10.3080303 C36.244323,10.3080303 33.5186869,13.0336665 33.5186869,16.3959091 L33.5186869,16.3959091 Z" id="Path"></path>
                        <path d="M25.1664141,23.6592929 L1.65631313,47.1693939 C-0.325496489,49.1512036 -0.325496465,52.3643519 1.65631318,54.3461616 C3.63812283,56.3279712 6.85127113,56.3279712 8.83308081,54.3461616 L12.4090909,50.7676768 L16.0172727,54.3758586 C17.6027205,55.9613063 20.1732391,55.9613063 21.7586868,54.3758585 C23.3441345,52.7904108 23.3441346,50.2198922 21.7586869,48.6344444 L18.1529798,45.0262626 L32.3431818,30.8360606 C39.4626717,34.430395 48.1385261,32.3219429 52.8143417,25.8610509 C57.4901573,19.400159 56.7813845,10.4999533 51.1419529,4.8605218 C45.5025214,-0.778909722 36.6023157,-1.48768253 30.1414238,3.18813304 C23.6805319,7.8639486 21.5720798,16.539803 25.1664141,23.6592929 L25.1664141,23.6592929 Z" id="Path"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>