<?xml version="1.0" encoding="UTF-8"?>
<svg width="104px" height="104px" viewBox="0 0 104 104" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon Vrijstaand</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="3" transform="translate(-448.000000, -367.000000)" stroke="currentColor" stroke-width="4">
            <g id="Vrijstaand-(active)" transform="translate(410.000000, 345.000000)">
                <g id="Icon-Vrijstaand" transform="translate(40.000000, 24.000000)">
                    <line x1="46.6856061" y1="66.5719697" x2="46.6856061" y2="99.7159091" id="Path"></line>
                    <line x1="6.91287879" y1="99.7159091" x2="6.91287879" y2="66.5719697" id="Path"></line>
                    <polyline id="Path" points="0.284090909 69.8863636 26.7992424 50 53.3143939 69.8863636"></polyline>
                    <path d="M93.0871212,73.2007576 C93.0871212,80.5227145 87.1515024,86.4583333 79.8295455,86.4583333 C72.5075885,86.4583333 66.5719697,80.5227145 66.5719697,73.2007576 C66.5719697,53.3143939 79.8295455,26.7992424 79.8295455,26.7992424 C79.8295455,26.7992424 93.0871212,53.3143939 93.0871212,73.2007576 Z" id="Path"></path>
                    <line x1="79.8295455" y1="86.4583333" x2="79.8295455" y2="99.7159091" id="Path"></line>
                    <line x1="0.284090909" y1="99.7159091" x2="99.7159091" y2="99.7159091" id="Path"></line>
                    <path d="M20.1704545,99.7159091 L20.1704545,86.4583333 C20.1704545,82.7973549 23.138264,79.8295455 26.7992424,79.8295455 C30.4602209,79.8295455 33.4280303,82.7973549 33.4280303,86.4583333 L33.4280303,99.7159091" id="Path"></path>
                    <path d="M33.4280303,26.7993217 C37.9645926,26.8172553 41.938138,23.762372 43.0867275,19.3735836 C44.235317,14.9847951 42.2676819,10.3750459 38.3038978,8.16843378 C34.3401137,5.96182166 29.3853488,6.71791712 26.260101,10.0063131 C24.4191973,3.40934194 17.84949,-0.69349228 11.1138167,0.547338669 C4.37814348,1.78816962 -0.298282534,7.96274184 0.332441732,14.7826496 C0.963165998,21.6025574 6.69267297,26.8147597 13.5416667,26.7993217 L33.4280303,26.7993217 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </g>
</svg>