<?xml version="1.0" encoding="UTF-8"?>
<svg width="130px" height="103px" viewBox="0 0 130 103" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon bouwblok</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="3" transform="translate(-635.000000, -369.000000)" stroke="currentColor" stroke-width="4">
            <g id="Bouwblok" transform="translate(610.000000, 345.000000)">
                <g id="Icon-bouwblok" transform="translate(27.000000, 26.000000)">
                    <line x1="0.391304348" y1="26.826087" x2="124.826087" y2="26.826087" id="Path-Copy-8" stroke-linecap="round" stroke-linejoin="round"></line>
                    <line x1="0" y1="0.782608696" x2="124.434783" y2="0.782608696" id="Path-Copy-12" stroke-linecap="round" stroke-linejoin="round"></line>
                    <line x1="0.391304348" y1="98.826087" x2="124.826087" y2="98.826087" id="Path-Copy" stroke-linecap="round" stroke-linejoin="round"></line>
                    <path d="M35.6086957,98.923913 L49.3043478,98.923913 L49.3043478,85.2282609 C49.3043478,81.446311 46.2384717,78.3804348 42.4565217,78.3804348 C38.6745718,78.3804348 35.6086957,81.446311 35.6086957,85.2282609 L35.6086957,98.923913 Z" id="Path" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M77.055,98.923913 L90.7506522,98.923913 L90.7506522,85.2282609 C90.7506522,81.446311 87.684776,78.3804348 83.9028261,78.3804348 C80.1208762,78.3804348 77.055,81.446311 77.055,85.2282609 L77.055,98.923913 Z" id="Path-Copy-4" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.63043478,98.826087 L7.63043478,85.2282609 C7.63043478,81.446311 4.56455861,78.3804348 0.782608696,78.3804348" id="Path-Copy-7" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M125.804348,98.826087 L125.804348,85.2282609 C125.804348,81.446311 122.738472,78.3804348 118.956522,78.3804348" id="Path-Copy-9" stroke-linecap="round" stroke-linejoin="round" transform="translate(122.380435, 88.603261) scale(-1, 1) translate(-122.380435, -88.603261) "></path>
                    <polygon id="Path" stroke-linecap="round" stroke-linejoin="round" points="36 44.1413043 49.3043478 44.1413043 49.3043478 57.4456522 36 57.4456522"></polygon>
                    <polyline id="Path-Copy-5" stroke-linecap="round" stroke-linejoin="round" transform="translate(120.913043, 50.793478) scale(-1, 1) translate(-120.913043, -50.793478) " points="117.391304 44.1413043 124.434783 44.1413043 124.434783 57.4456522 117.391304 57.4456522"></polyline>
                    <polyline id="Path-Copy-6" stroke-linecap="round" stroke-linejoin="round" points="1.56521739 44.1413043 8.60869565 44.1413043 8.60869565 57.4456522 1.56521739 57.4456522"></polyline>
                    <polygon id="Path-Copy-10" stroke-linecap="round" stroke-linejoin="round" points="76.6956522 44.1413043 90 44.1413043 90 57.4456522 76.6956522 57.4456522"></polygon>
                    <line x1="21.9130435" y1="26.826087" x2="21.9130435" y2="98.826087" id="Line" stroke-linecap="square"></line>
                    <line x1="63.3913043" y1="26.826087" x2="63.3913043" y2="98.826087" id="Line-Copy" stroke-linecap="square"></line>
                    <line x1="104.086957" y1="26.826087" x2="104.086957" y2="98.826087" id="Line-Copy-2" stroke-linecap="square"></line>
                </g>
            </g>
        </g>
    </g>
</svg>