[Unit]
Description=FunderMaps Webservice WebApplication

[Service]
ExecStart=/var/www/fundermaps-webservice/FunderMaps.Webservice
WorkingDirectory=/var/www/fundermaps-webservice
Restart=always
RestartSec=10
KillSignal=SIGINT
User=www-data
SyslogIdentifier=fundermaps-webservice
Environment=ASPNETCORE_URLS="http://localhost:5501"
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
PrivateDevices=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
DynamicUser=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6

[Install]
WantedBy=multi-user.target