[Unit]
Description=FunderMaps Batch

[Service]
ExecStart=/opt/fundermaps/fundermaps-batch/FunderMaps.BatchNode
WorkingDirectory=/opt/fundermaps/fundermaps-batch
Restart=always
RestartSec=10
KillSignal=SIGINT
User=fundermaps-batch
SyslogIdentifier=fundermaps-batch
Environment=ASPNETCORE_URLS="http://127.0.0.1:5500"
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
PrivateDevices=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
