@page "/survey/address"
@using Microsoft.AspNetCore.Components.Forms
@using FunderMaps.Incident.Data

<div class="Address">
    <div class="MapBox__Wrapper">
        <div @ref="mapElement" style='width:100%;height:100%'></div>
    </div>
    <div class="Address__Wrapper">
        <div class="Title">
            <h1>Melding maken voor adres:</h1>
        </div>

        <div class="FormField GeoCoder" :class="fieldClasses">
            <label for="address" class="FormField__Label">Zoek een adres</label>

            <div class="FormField__Wrapper">
                <input id="address" placeholder="Stationsplein, 1012 AB Amsterdam" autocomplete="off" class="FormField__Field" @bind="inputKaasAutoCompleteDing" @oninput="OnType" />

                @if (autoComplete.Any())
                {
                    <div class="GeoCoder__Suggestions">
                        @foreach (var suggestion in autoComplete)
                        {
                            <div class="Suggestion" title="@suggestion.weergavenaam" @onclick=@(_ => SelectCustomer(suggestion.id))>
                                <div class="SvgIcon svg-container">
                                    <SuggestionIcon />
                                </div>
                                <span>@((MarkupString)suggestion.weergavenaam)</span>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

    </div>
</div>
