<?xml version="1.0" encoding="UTF-8"?>
<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Check active</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="3" transform="translate(-550.000000, -345.000000)">
            <g id="Vrijstaand-(active)" transform="translate(410.000000, 345.000000)">
                <g id="Check-active" transform="translate(140.000000, 0.000000)">
                    <path d="M36,1.66666667 C36.6443322,1.66666667 37.2276655,1.9278339 37.6499158,2.35008418 C38.0721661,2.77233446 38.3333333,3.35566779 38.3333333,4 L38.3333333,4 L38.3333333,35.9763107 L4.02368927,1.66666667 Z" id="Rectangle-Copy-4" stroke="currentColor" stroke-width="3.33333333" fill="currentColor"></path>
                    <polygon id="Fill-1" fill="#FFFFFF" points="26.2487804 14.4526318 23.2682925 11.5052647 22 12.7684214 26.2487804 17 35 8.28421283 33.7317056 7"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>