<?xml version="1.0" encoding="UTF-8"?>
<svg width="110px" height="104px" viewBox="0 0 110 104" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon eigenaar</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="3" transform="translate(-925.000000, -366.000000)" stroke="currentColor" stroke-width="4">
            <g id="Eigenaar" transform="translate(890.000000, 345.000000)">
                <g id="Icon-eigenaar" transform="translate(37.000000, 23.000000)">
                    <path d="M35.3,85.4 L21.3,85.4 C17.4340068,85.4 14.3,82.2659932 14.3,78.4 L14.3,43.4" id="Path"></path>
                    <path d="M0.3,36.4 L41.278,1.72666667 C43.8880596,-0.482184183 47.7119404,-0.482184183 50.322,1.72666667 L84.314,30.492" id="Path"></path>
                    <polyline id="Path" points="70.3 1.4 84.3 1.4 84.3 15.4"></polyline>
                    <path d="M49.3,71.4 C49.3,86.863973 61.836027,99.4 77.3,99.4 C92.763973,99.4 105.3,86.863973 105.3,71.4 C105.3,55.936027 92.763973,43.4 77.3,43.4 C61.836027,43.4 49.3,55.936027 49.3,71.4 Z" id="Path"></path>
                    <path d="M89.7786667,63.2566667 L76.222,81.3353333 C75.6120786,82.1465121 74.6804649,82.6534606 73.6680977,82.7250693 C72.6557306,82.7966779 71.6620329,82.4259141 70.944,81.7086667 L63.944,74.7086667" id="Path"></path>
                </g>
            </g>
        </g>
    </g>
</svg>