<?xml version="1.0" encoding="UTF-8"?>
<svg width="106px" height="106px" viewBox="0 0 106 106" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon Staal</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="2" transform="translate(-687.000000, -330.000000)" fill="currentColor">
            <g id="Ondiep-op-staal" transform="translate(650.000000, 310.000000)">
                <path d="M137,122 L127.201,122 L139,110.202 L139,120 C139,121.103 138.103,122 137,122 L137,122 Z M42.64,121.963 L138.963,25.64 C138.985,25.757 139,25.876 139,26 L139,36.587 L53.587,122 L43,122 C42.876,122 42.757,121.985 42.64,121.963 L42.64,121.963 Z M43,24 L52.832,24 L41,35.832 L41,26 C41,24.897 41.897,24 43,24 L43,24 Z M41,95.289 L112.288,24 L123.617,24 L41,106.618 L41,95.289 Z M41,81.131 L98.131,24 L109.46,24 L41,92.46 L41,81.131 Z M41,66.974 L83.974,24 L95.303,24 L41,78.303 L41,66.974 Z M41,52.817 L69.817,24 L81.146,24 L41,64.146 L41,52.817 Z M41,38.66 L55.66,24 L66.989,24 L41,49.989 L41,38.66 Z M137.655,24.119 L41.119,120.655 C41.047,120.449 41,120.231 41,120 L41,109.446 L126.445,24 L137,24 C137.231,24 137.449,24.047 137.655,24.119 L137.655,24.119 Z M139,50.745 L67.745,122 L56.416,122 L139,39.416 L139,50.745 Z M139,64.902 L81.902,122 L70.573,122 L139,53.573 L139,64.902 Z M139,79.059 L96.059,122 L84.73,122 L139,67.73 L139,79.059 Z M139,93.216 L110.216,122 L98.887,122 L139,81.887 L139,93.216 Z M139,107.374 L124.373,122 L113.044,122 L139,96.044 L139,107.374 Z M137,20 L43,20 C39.691,20 37,22.691 37,26 L37,120 C37,123.309 39.691,126 43,126 L137,126 C140.309,126 143,123.309 143,120 L143,26 C143,22.691 140.309,20 137,20 L137,20 Z" id="Icon-Staal"></path>
            </g>
        </g>
    </g>
</svg>