/* $disabled: adjust-color($VENDOR_PRIMARY_COLOR, $red: 81, $green: 41, $blue: -114, $alpha: -0.7); */

.FormField {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.FormField__Label {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.3px;
    color: #606976;
    margin-bottom: 9px;
}

.FormField__Field {
    width: 100%;
    flex: 2;
    color: #202122;
    border-radius: 4px;
    border: 2px solid #d4daf0;
    background: white;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    padding: 13px 15px 14px;
    transition: border-color 0.2s ease-in-out;
}

.FormField__Field::placeholder {
    color: #606976;
}

.FormField__Field:focus {
    border-color: var(--fm-primary-color, #2657ff);
}

.FormField__Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* @media only screen and (min-width: $BREAKPOINT) { */
    flex-direction: column;
    /* } */
}

.FormField__Icon {
    top: 35px;
    flex: 0 1 10%;
    position: absolute;
    width: 30px;
    height: 40px;
    right: 5px;
    font-size: 12px;
    opacity: 0;
    margin: 0 5px;
    transition: opacity 0.2s ease-in-out;
    /* 
    svg {
        display: block;
        margin: auto;
    } */
}

.FormField__Icon svg {
    display: block;
    margin: auto;
}

.FormField--valid .FormField__Field {
    border-color: #00c95d;
    padding-right: 45px;
}

.FormField--invalid .FormField__Field {
    border-color: #ff3b30;
    padding-right: 45px;
}

.FormField--valid .FormField__Icon,
.FormField--invalid .FormField__Icon {
    color: #00c95d;
    opacity: 1;
}

.FormField--invalid .FormField__Icon {
    color: #ff3b30;
}

.FormField--disabled .FormField__Field {
    background: rgba(119, 128, 141, 0.2);
    cursor: not-allowed;
}
