/* $unselected: adjust-color($VENDOR_PRIMARY_COLOR, $red: 81, $green: 41, $blue: -114, $alpha: -0.7);
$unselectedText: adjust-color($VENDOR_PRIMARY_COLOR, $red: 81, $green: 41, $blue: -114); */


.RadioTextInput__Wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

/* 2x label width + 20px margin + 3x 80 + a bit */
@media only screen and (max-width: 1379px) {
    .RadioTextInput__Wrapper {
        justify-content: center;
        max-width: 550px;
        width: 100%;
    }
}

.RadioTextInput__Field {
    margin-bottom: 15px;
    width: 100%;
}

/* 2x label width + 20px margin + 3x 80 + a bit */
@media only screen and (min-width: 1380px) {
    .RadioTextInput__Field {
        width: 550px;
        margin-right: 20px;
    }

    .RadioTextInput__Field:nth-child(2n) {
        margin-right: 0;
    }
}

.RadioTextInput__Label {
    max-width: 550px;
    width: 100%;
    min-height: 55px;
    position: relative;

    display: inline-block;
    align-items: center;

    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.3px;

    color: #77808d;
    border: 2px solid rgba(119, 128, 141, .3);
    border-radius: 4px;
    background: white;

    cursor: pointer;
    user-select: none;

    transition: all 0.3s ease-in-out;

    padding: 15px;
    padding-left: 55px;
}

.RadioTextInput__Label span {
    margin-top: 2px;
    display: inline-block;
}

.RadioTextInput__Label:before {
    content: "";
    position: absolute;
    left: 15px;
    width: 24px;
    height: 24px;
    border: 2px solid #d4daf0;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.RadioTextInput__Label:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 21px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.RadioTextInput__Label:hover {
    border-color: var(--fm-primary-color, #2657ff);
}


.RadioTextInput input {
    display: none;
}

.RadioTextInput input:checked+.RadioTextInput__Label {
    /* TODO: Use color adjust */
    background-color: rgba(156, 178, 255, 0.1);
    border-color: var(--fm-primary-color, #2657ff);
    color: #202122;
}

.RadioTextInput input:checked+.RadioTextInput__Label:before {
    border-color: var(--fm-primary-color, #2657ff);
}

.RadioTextInput input:checked+.RadioTextInput__Label:after {
    background-color: var(--fm-primary-color, #2657ff);
}