@page "/user"
@attribute [Authorize(Policy = "AdministratorPolicy")]

<PageTitle>Users</PageTitle>

@using FunderMaps.Core.Interfaces.Repositories
@inject IUserRepository UserRepository

<h1>Users</h1>

@if (trackers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tracker in trackers)
            {
                <tr>
                    <td>@tracker.Id</td>
                    <td>@tracker.Name</td>
                    <td>@tracker.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public class Woei
    {
        /// <summary>
        ///     Unique identifier.
        /// </summary>
        public Guid Id { get; set; }

        /// <summary>
        ///     Gets or sets the name for the user.
        /// </summary>
        public string Name { get; set; }

        /// <summary>
        ///     Gets or sets the email address for the user.
        /// </summary>
        public string Email { get; set; }
    }

    private List<Woei> trackers = new();

    protected override async Task OnInitializedAsync()
    {
        await foreach (var user in UserRepository.ListAllAsync(FunderMaps.Core.Navigation.All))
        {
            trackers.Add(new Woei
            {
                Id = user.Id,
                Name = user.ToString(),
                Email = user.Email,
            });
        }
    }
}
