
/**
 * Variables that override the Bootstrap defaults
 */

$body-bg: #EFF3F6;
$body-color: #2c3e50; // #354052

$theme-colors: (
  "primary": #17A4EA,
  "light": #E8EAF1,
  "danger": #FF4E4E,
  "success": #29CC8B
);

$text-muted: #7F8FA4;

$font-weight-bold: 600;
