@page "/survey/finish"
@using Microsoft.AspNetCore.Components.Forms
@using FunderMaps.Incident.Components.Layout

<div class="Finish">
    <div class="Finish__Wrapper">

        @if (State?.Feedback ?? false)
        {
            <Title Message="Afgerond!" />

            <p class="BodyText BodyText--bold" style="margin-bottom: 26px;">
                <span>Bedankt voor het doorgeven van uw wijzigingen</span>
            </p>

            <p class="BodyText" style="margin-bottom: 26px;">
                <span>
                    Wij zullen de verstrekte gegevens zorgvuldig beoordelen en, indien nodig, verwerken in onze systemen.
                    Voor verdere vragen of terugkoppeling zullen wij contact met u opnemen.
                </span>
            </p>

            <a href="https://www.kcaf.nl/wat-doet-het-kcaf/fundermaps/" target="_blank" alt="stappenplann"><button
                class="Button Button--line"><span>Meer informatie</span>
                <div class="SvgIcon svg-container" data-v-1db594be=""><!--?xml version="1.0" encoding="UTF-8"?--> <svg
                        width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Fill 1</title>
                        <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Advies" transform="translate(-1050.000000, -647.000000)" fill="currentColor">
                                <g id="btn-stappenplan" transform="translate(825.000000, 630.000000)">
                                    <path
                                        d="M240.118488,32.1184897 L226.88151,32.1184897 L226.88151,18.9036479 L233.5,18.9036479 L233.5,17 L225,17 L225,34 L242,34 L242,25.5 L240.118488,25.5 L240.118488,32.1184897 Z M235.381512,17 L235.381512,18.9036479 L238.790366,18.9036479 L233.1237,24.5703146 L234.451822,25.8984366 L240.118488,20.2317699 L240.118488,23.6184882 L242,23.6184882 L242,17 L235.381512,17 Z"
                                        id="Fill-1"></path>
                                </g>
                            </g>
                        </g>
                    </svg></div>
            </button></a>
        }
        else
        {
            <Title Message="Advies" />

            <p class="BodyText BodyText--bold" style="margin-bottom: 26px;">
                <span>Bedankt voor het doorgeven van uw melding</span>
            </p>

            <p class="BodyText" style="margin-bottom: 26px;">
                <span>
                    Wij nemen contact met u op om u van een persoonlijk advies te voorzien. Uw gegevens blijven strikt
                    vertrouwelijk en worden niet buiten het KCAF gedeeld.
                </span>
            </p>
            <p class="BodyText" style="margin-bottom: 26px;">
                <span>
                    In ons stappenplan voor funderingsherstel leggen wij duidelijk uit welke stappen u alvast kunt nemen en
                    voor welke stappen professionele hulp noodzakelijk is om grip te krijgen op funderingsproblemen.
                </span>
            </p>

            <a href="https://www.kcaf.nl/publicaties/stappenplan-funderingsherstel/" target="_blank"
            alt="stappenplann"><button class="Button Button--line"><span>Bekijk het stappenplan</span>
                <div class="SvgIcon svg-container" data-v-1db594be=""><!--?xml version="1.0" encoding="UTF-8"?--> <svg
                        width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Fill 1</title>
                        <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Advies" transform="translate(-1050.000000, -647.000000)" fill="currentColor">
                                <g id="btn-stappenplan" transform="translate(825.000000, 630.000000)">
                                    <path
                                        d="M240.118488,32.1184897 L226.88151,32.1184897 L226.88151,18.9036479 L233.5,18.9036479 L233.5,17 L225,17 L225,34 L242,34 L242,25.5 L240.118488,25.5 L240.118488,32.1184897 Z M235.381512,17 L235.381512,18.9036479 L238.790366,18.9036479 L233.1237,24.5703146 L234.451822,25.8984366 L240.118488,20.2317699 L240.118488,23.6184882 L242,23.6184882 L242,17 L235.381512,17 Z"
                                        id="Fill-1"></path>
                                </g>
                            </g>
                        </g>
                    </svg></div>
            </button></a>
        }

    </div>
</div>
