@inherits LayoutComponentBase

<PageTitle>FunderMaps Admin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="/account/logout">Logout</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
